h1 {
            font-size: 60px;
            color: #C60;
        }
        
        p {
            font-size: 16px;
            color: #66F;
        }
        
        li {
            font-size: 20px;
            color: #60C;
        }